<!DOCTYPE html>
<html>
<head>
    <title>Survey Solution</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div id="jumbo-area">
    <div id="logo-area"><img id="logo-img" src="/images/logostep.png" alt=""></div>
