<% include partials/header %>

    <div id="inter-area">
        <div id="text-area">Устанавливаем соединение</div>
        <div id="query-area">
            <img id="wait-img" src="/images/in_progress.svg" alt="">
        </div>
    </div>

<% include partials/footer %>